#root {
  margin: 0 auto;
  max-height: 100vh;
}

.ellipsis-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.light {
  background: #424242;
}

.dark {
  background: #333333;
}

.circle-add {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  background: #121212;
  color: whitesmoke;
  margin-bottom: 20px;
  padding: 5px 0;
  cursor: pointer;
}